In [1]:
#install library
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
kashti = sns.load_dataset('titanic')

In [3]:
kashti.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
kashti.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [5]:
#simple operations (math opertion)
(kashti['age']+10).head(10)

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
5     NaN
6    64.0
7    12.0
8    37.0
9    24.0
Name: age, dtype: float64

In [7]:
#where exactly missing values 
kashti.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
# use dropna  method 
print(kashti.shape)
kashti.dropna(subset=['deck'],axis=0,inplace=true)

(891, 15)

NameError: name 'true' is not defined

In [9]:
kashti.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
#to drop na 
kashti.dropna()
#to update the main dataframe
kashti= kashti.dropna().isnull().sum()

In [12]:
kashti.shape

(15,)

In [15]:
kashti['survived']=kashti['survived'].astype('float64')
kashti.dtypes

dtype('int64')

In [17]:
#here we will convert the age into days instead of years
kashti['age']=kashti['age']*365
kashti.head(10)

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
class       0
who         0
dtype: int64

In [18]:
kashti.head()

survived    0
pclass      0
sex         0
age         0
sibsp       0
dtype: int64

In [19]:
ks4=kashti[['age,fare']]

KeyError: "None of [Index(['age,fare'], dtype='object')] are in the [index]"